.toggle-table {

}

.toggle-table-hidden {
  display: none!important;
}

.fullhd-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;  
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content:  center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  padding: 2rem;
  transition: all 0.25s ease;
}

.toggle-active, .toggle-active td {
  background-color: #f1f1f1!important;
}

.toggle-active td:hover {
  background-color: #f1f1f1!important;
}

.fullhd-layer .close {
  position: absolute;
  z-index: 10;
  width: 4rem;
  height: 4rem;
  top: 2rem;
  right: 1rem;
  font-size: 2rem;
  color: red;
}

.fullhd-layer.active {
  pointer-events: inherit;
  opacity: 1;
}

#update_logistic h3 {
  font-weight: 800;
}

#update_logistic label, 
#update_logistic button {
  font-size: 1.5rem;
}
