.toggle-table-hidden {
  display: none;
}

.shipping-logo {
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.toggle-active, .toggle-active td {
  background-color: #dfdddd!important;
}

.toggle-active td:hover {
  background-color: #dfdddd!important;
}


#update_logistic h3 {
  font-weight: 800;
}

#update_logistic label, 
#update_logistic button {
  font-size: 1.5rem;
}
#example-datatables2 td {
  vertical-align: top;
}

@media print {
  @page {
    margin:0;
  }
  .hide-print,
  .dataTables_filter,
  #page-sidebar,
  #primary-nav {
    display: none;
  }
  #example-datatables2_wrapper > .row:nth-child(odd) {
    display: none;
  }
  #page-content {
    margin: 0;
  }
  #example-datatables2 {
    border: none;
  }
  #example-datatables2 tr {
    border: none;
    border-bottom: 1px solid #666;
  }
  #example-datatables2 td {
    width: auto;
    color: #333!important;
  }
}
