.toggle-table-hidden {
  display: none;
}

.shipping-logo {
  width: 60px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  transform: scale(1.2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.fullhd-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;  
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content:  center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  padding: 2rem;
  transition: all 0.25s ease;
}

.toggle-active, .toggle-active td {
  background-color: #dfdddd!important;
}

.toggle-active td:hover {
  background-color: #dfdddd!important;
}

.fullhd-layer .close {
  position: absolute;
  z-index: 10;
  width: 4rem;
  height: 4rem;
  top: 2rem;
  right: 1rem;
  font-size: 2rem;
  color: red;
}

.fullhd-layer.active {
  pointer-events: inherit;
  opacity: 1;
}

#update_logistic h3 {
  font-weight: 800;
}

#update_logistic label, 
#update_logistic button {
  font-size: 1.5rem;
}

@media print {
  @page {
    /* size: A4;  DIN A4 standard, Europe */
    margin:0;
  }
  /* html, body {
    width: 210mm;
    height: 282mm;
    font-size: 11px;
    background: #FFF;
    overflow:visible;
  } */

  .hide-print,
  .dataTables_filter,
  #page-sidebar,
  #primary-nav {
    display: none;
  }
  #example-datatables2_wrapper > .row:nth-child(odd) {
    display: none;
  }
  #page-content {
    margin: 0;
  }
  #example-datatables2 {
    border: none;
  }
  #example-datatables2 tr {
    border: none;
    border-bottom: 1px solid #666;
  }
  #example-datatables2 td {
    width: auto;
    color: #333!important;
  }
  #example-datatables2 td:nth-child(5),
  #example-datatables2 th:nth-child(5) {
    display: none;
  }  
}

/*
table.print-friendly tr td, table.print-friendly tr th {
    page-break-inside: avoid;
}

@media print {
  .hide-print,
  .dataTables_filter,
  #page-sidebar,
  #pre-page-content,
  #primary-nav {
    display: none;
  }
  #page-content {
    margin: 0;
  }
  #example-datatables2_wrapper .row:nth-child(odd) {
    display: none;
  }
  #example-datatables2 td:nth-child(2) {
    display: none;
  }
  #example-datatables2 td:nth-child(3){
    display: block!important;
  }
  #example-datatables2 td:nth-child(4) {
    display: none;
    height: auto!important
  }
  #example-datatables2 td:nth-child(5) {
    display: none;
  }
}
*/