/* #carrito {
	border: 1px solid grey;
	border-radius: 5px;
} */

#heading {
	color: #e10d74;
	/*font-style: italic;
	font-family: 'BauerBodni Blk BT Black', 'Times New Roman', 'Verdana';*/
}

.is-capitalize {
  text-transform: capitalize !important;
}
.p {
	margin:10px 0px;
}

.carrito-row {
	padding-top: 1rem;
	max-width: 50rem;
	margin: auto;	
}

.carrito-item-row {
	display: flex;
	flex-direction: row;
	padding: 0.5rem;
}

/*
.text-dark {
	color: #666!important;
}

.text-green {
	color: green!important;
}

.text-white {
  color: white!important;
}
.text-warning {
  color: #fbad19;
}
.text-info {
  color: blue!important;
}
*/
.carrito-item-col {
	flex: 1;
}

.cart-img-col {
	max-width: 120px;
}

.link { 
	color: #e10c76;
}

.link:hover { 
	color: #f10c76;
}

.shipping-options .shipping-logo {
	background-size: 8rem;
	background-repeat: no-repeat;
	background-position: left center;
	text-align: right;
	padding-right: 2.5rem;
	font-weight: 800;
}

.generic-select {
	width: 100%;
	margin: 0.75rem 0;
	margin-bottom: 1.25rem;
}

.generic-select li {
	padding: 0.75rem;
	border: 1px solid #e10d7499;
	border-radius: 0.25rem;
	font-weight: 400;
	background-color: white;
	color: #e10d74e6;
	cursor: pointer;
	background-image: url(../images/chevron_right_pink.svg);
	background-position: right 0.5rem center;
	background-repeat: no-repeat;
	background-size: 30px;
	margin-bottom: 0.25rem;
	transition: all 0.25s ease;
}

.generic-select li:hover {
	background-color: #e10d74;
	background-image: url(../images/chevron_right_white.svg);
	color: white;
}

.generic-select li.selected {
	background-color: #e10d74;
	border-color: #e10d74;
	background-image: url(../images/check.png);
	color: white;
}

.grey {
	color: grey;
}

.table thead {
	background-color: #e10c76;
	color: white;
	/*text-transform: uppercase;*/
}

.table>thead>tr>th {
	border-bottom: 0;
}

.table>tbody>tr>td {
	color: #696969;
	vertical-align: middle;
	padding: 10px 20px;
}

.color-block {
	display: inline-block;
	height: 24px;
	width: 22px;
}


.talle,
.price {
	/* color: black; */
	font-weight: bold;
}

.old_price {
	text-decoration: line-through;
	text-align: right;
	font-weight: 500;	
}


.cart-img {
	min-height: 135px;
	background-color: #f8f8f8;
	position: relative;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 2px 2px 0 #6663;
}

#siguiente-block {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

#siguiente {
	/*
	display: inline-block;
	font-size: 1.25rem;
	font-weight: 800;
	min-width: 20rem;	
	color: white;
	background-color: #07bc31;
	padding: 0.75rem 1rem;
	border-radius: 5px;
	font-style: italic;
	font-family: 'BauerBodni Blk BT Black', 'Times New Roman', 'Verdana';*/
}

#siguiente.has-icons {
	min-width: auto;
}

#instrucciones {
	margin-top: 20px;
	list-style-position:inside;
	color: #686868;
}

#como-comprar {
	display: inline-block;
	padding: 5px 90px;
	border-bottom: 1px solid #686868;
	text-align: center;
	width: 100%;
	font-weight: bold;
}

#como-comprar-list {
	padding: 0;
}

a.trash {
	display: inline-block;
	color: black;
	font-size: 18px;
	margin-top: 13px;
}

.thumb {
	width: 100px;
	float: left;
	border-radius: 5px;
}

.color {
	margin-bottom: 0.25rem;
}

.name {
	display: block;
	font-weight: bold;
	font-size: 1.25rem;
	margin-bottom: 0.75rem;
	letter-spacing: -0.03rem;
}

a.pink {
	color: #e10c76;
}

.checkout-title {
	text-align: center;
	margin-bottom: 20px;
	color: #e10c76;
}

#paypal{
	width: 100%;
}
#paypal img{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	margin-left: 10px;
	max-width: 90%;
}
a.pay{
	color:#FFFFFF !important;
}
.cart-btn-green {
	display: inline-block;
	font-size: 1.25rem;
	font-weight: 800;
	color: white;
	background-color: #bebebe;
	padding: 0.75rem 1rem;
	min-width: 20rem;
	border-radius: 5px;
	transition: all 0.25s ease;
}
.cart-btn-green.shrink {
	min-width: inherit;
}

.cart-btn-green:hover {
	background-color: #e60088;
}

@media (max-width: 768px) {
	#main {
		padding-top:10px!important;
	}
	#carrito {
		border:none!important;
		margin-top:20px!important;
	}
	.keep-buying {
		text-align: center;
		margin-top: 8px;
		margin-bottom: 8px;
	}
}
@media screen and (min-width:769px), print {
	.carrito-items {
		padding-right: 1rem;
	}
	.carrito-items .price {
		padding: 0.25rem 0;
		text-align: right;
	}
}
