/* Base color: #e10c76 */

body.loading {
  overflow: hidden;
}

body > section,
body > div:not([class*="modal"]):not(.whatsapp-block):not(.social-bottom):not(.whatsapp-text):not(.dev-note) {
	background-color: #fff;
}

::placeholder {
	transition: opacity 0.5s ease-in-out;
	transition-delay: 1s;
}

input:focus::placeholder {
  opacity: 0;
}

nav.sidebar-expanded {
  right: 0!important;
}

.section {
	padding: 1rem 0;
}

#page-loader {
  min-width: 100dvw;
  min-height: 100dvh;
  background: url(/img/logo.png) no-repeat center center/8rem transparent;
}

a {
	color: #e10c76;
	font-weight: 300;
}

a:hover {
	color: #e10c76;
}

html, body {
	min-height: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.carousel-video {
  object-fit: cover;
  object-position: center top;
  width: 100%;
}

.is-transparent {
	opacity: 0;
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;  
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content:  center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  padding: 2rem;
  transition: all 0.25s ease;
}

.layer .close {
  position: absolute;
  z-index: 10;
  width: 4rem;
  height: 4rem;
  top: 2rem;
  right: 1rem;
  font-size: 2rem;
  color: red;
}

.layer.active {
  pointer-events: inherit;
  opacity: 1;
}

.input-cp-container.wrong input{
	border-color: #E10D74;
  color: #E10D74;
}

.input-cp-container.ok input {
	border-color: #07BC31;
  color: #07BC31;
}

.input-cp-container.ok:before {
	content: "\f00c";
	color: #07BC31;
	position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 0.8rem;
  font-family: 'FontAwesome';
  z-index: 10;
}

.input-cp-container.wrong:before {
	content: "\f00d";
	color: #E10D74;
	position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 0.8rem;
  font-family: 'FontAwesome';
  z-index: 10;
}

.input-group-btn .btn {
	min-width: 5rem;
}

.cargo-title {
	color: #666;
	margin:0.5rem 0;
  margin-top: 1rem;
	font-weight: 600;
	line-height: 1;
	font-size: 1.25rem;
}

.generic-select {
	width: 100%;
	margin: 0.75rem 0;
	margin-bottom: 0;
}

.generic-select li {
	position: relative;
	font-size: 0.9rem;
	padding: 0.75rem 1rem;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	line-height: 1.25;
	font-weight: 400;
	background-color: white;
	color: #777;
	cursor: pointer;
	/*background-image: url(../images/chevron_right_gray.svg);
	background-position: right 0.75rem center;
	background-repeat: no-repeat;
	background-size: 30px;*/
	margin-bottom: 0.25rem;
	transition: all 0.25s ease;
	min-height: 44px;
  opacity: 0;
  /*flex: 1;*/
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.2s;	
	opacity: 1;
	transition: all 0.25s ease-in;
}

.generic-select li:not(.selected):before {
	content: "\f054";
	color: #999;
	position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 0.8rem;
  font-family: 'FontAwesome';
}

.generic-select li:hover {
	background-position: right 0.5rem center;
}

.generic-select li.selected {
	background-color: white;
	border-color: #07BC31;
	/*background-image: url(../images/check-pink.png);*/
	color: #07BC31;
	font-weight: 500;
}

.generic-select li.selected:before {
	content: "\f00c";
	color: #07BC31;
	position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 0.8rem;
  font-family: 'FontAwesome';
}

.generic-select li.secondary:not(.selected) {
	opacity: 0.5;
}

.generic-select li:hover {
	opacity: 1!important;
}

.generic-select li:nth-child(1) {
  animation-delay: 0s;
}

.generic-select li:nth-child(2) {
  animation-delay: 0.2s;
}

.generic-select li:nth-child(3) {
  animation-delay: 0.4s;
}

.generic-select li:nth-child(4) {
  animation-delay: 0.6s;
}



#launcher {
	visibility: hidden;
}

.modal {
	overflow-y: auto;
}

.modal-buttons {
	padding: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	width: 100%;
}

.modal-content {
  box-shadow: none!important;
  min-height: 100dvh;
  border-radius: 5px;
}

/*.modal-body label {
	color: #383A3F;
}

.modal-body input {
	border: 1px solid #bebebe;
}*/

.disable-scroll {
  overflow: hidden;
}

.position-relative {
	position: relative!important;
}

.position-fixed {
	position: fixed!important;
}

.is-hidden {
	display: none!important;
}

.input-rounded{
	min-height: 2.75rem;
	font-size: 1rem;	
	border-radius: 0.5rem;
	border: 2px solid #dbdbdb;
	padding: 0.5rem 1.25rem;
	font-weight: 500;
}

.d-none {
	display: none;
}

.w-100 {
   width: 100%!important;
}

.text-muted {
  color: #777;
}
.text-italic {
  font-style: italic;
}

.png-icon  {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 5rem;
	height: 4rem;
}

.badge-outline-danger {
	background-color: white;
	outline: 2px solid #e10d74;
	color: #e10d74;
}

/* say hello to my little dwarfs - Hello */

.m-w-auto {
	margin-left: auto;
  margin-right: auto;
}

.m-auto {
	margin: auto;
}

.m-0 {
  margin: 0!important;
}
.mt-0 {
  margin-top: 0!important;
}
.mt-1 {
  margin-top: 0.25rem!important;
}
.mt-2 {
  margin-top: 0.5rem!important;
}
.mt-3 {
  margin-top: 0.75rem!important;
}
.mt-4 {
  margin-top: 1rem!important;
}
.mt-8 {
  margin-top: 1.5rem!important;
}
.mb-4 {
  margin-bottom: 1rem!important;
}
.mb-5 {
  margin-bottom: 1.25rem!important;
}
.ml-2 {
  margin-left: 0.5rem!important;
}
.p-1 {
  padding: 0.25rem!important;
}
.p-2 {
  padding: 0.5rem!important;
}
.p-3 {
  padding: 0.75rem!important;
}
.p-4 {
  padding: 1rem!important;
}
.p-5 {
  padding: 1.5rem!important;
}
.p-6 {
  padding: 2rem!important;
}
.p-7 {
  padding: 2.5rem!important;
}
.pt-0 {
  padding-top: 0!important;
}
.pr-3 {
  padding-right: 0.75rem!important;
}
.pr-4 {
  padding-right: 1rem!important;
}
.pl-0 {
  padding-left: 0!important;
}
.pl-3 {
  padding-left: 0.75rem!important;
}
.pl-4 {
  padding-left: 1rem!important;
}
.pl-8 {
  padding-left: 2rem!important;
}
.pt-2 {
	padding-top: 0.5rem!important;
}
.pt-3 {
  padding-top: 0.75rem!important;
}
.pt-4 {
  padding-top: 1rem!important;
}
.pb-0 {
  padding-bottom: 0!important;
}
.pb-1 {
  padding-bottom: 0.25rem!important;
}
.pb-4 {
  padding-bottom: 1rem!important;
}

.ps-4 {
	padding: 0.75rem 1.75rem;
}
.min-w-4 {
	min-width: 4rem;
}
.min-w-7 {
	min-width: 7rem;
}
.min-h-5 {
	min-height: 5rem;
}
.min-h-8 {
	min-height: 8rem;
}
.min-h-12 {
	min-height: 12rem;
}
.min-h-100 {
  min-height: calc(100dvh - 150px);
}
.min-h-101 {
  min-height: calc(100dvh - 105px);
}
.max-20 {
	max-width: 20rem;
}
.mb-0 {
  margin-bottom: 0!important;
}

.both{
	position: relative;
	border: 1px solid #ccc;
	padding-left: 5px;
	margin: 0;
	font-weight: 500;
}

.is-absolute {
  position: absolute;
}

.top-0 {
	top: 0;
	left: 0;
}

.is-relative {
  position: relative;
}

.scl-125 {
	transform: scale(1.25);
}

.transform-origin-left {
	transform-origin: left;
}

.flex {
	display: flex;
} 

.align-items-center {
	align-items: center;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.js-show-modal {
	position: relative;
	background-position-x: center;
	background-repeat: no-repeat; 
	background: url(images/livebox-bg.jpg);
	background-size: cover;	
}


.option-regular {
	padding: 1rem 0;
	padding-bottom: 1rem;
	line-height: 1.25;
	/*border-bottom: 1px solid #efefef;*/
}

.option-rounded {
	padding: 1rem;
	padding-top: 0.75rem;
	line-height: 1.25;
	margin-top: 0.25rem;
	border: 1px solid #e7e7e7;
	color: #888;
	background-color: #f8f8f8;
	cursor: pointer;
	opacity: 1;
	transition: all 0.25s ease-in;
}

.option-rounded .h4 {
	font-weight: 1000;
}

/*.option-rounded.is-secondary:not(.is-selected) {
	opacity: 0.5;
}*/

.option-rounded.is-selected {
	/*border-color: #3c763d;
	color: #3c763d;
	background-color: #dff0d8;*/
	border-color: #333;
	color: #333;
	background-color: white;	
}

.option-rounded:hover {
	opacity: 1!important;
}

.option-rounded input[type=radio]{
	position: relative;
  top: -3px;
  left: 5px;
	transform: scale(1.5);
	accent-color: #333;
	margin-right: 0.5rem;
}

.card-row {
	display: flex;
	padding-left: 1rem;
	padding-right: 1rem;
	flex-direction: column;	
}


.text-justify {
	text-align: justify;
}



.notfound {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;	
  padding: 3rem;
}

.tap-to-continue {
	position: absolute;
  top: calc(100dvh - 4.5rem);
	left: 1rem;
	text-align: center;
	white-space: nowrap;
	padding: 1rem 1.25rem;
	text-shadow: 0 0 2px #0009;
	font-weight: 500;
  /*background-color: #363733;
  background-color: white;*/
  text-transform: uppercase;
  border-radius: 5px;
	color: white;
	border: 1px solid white;
	transition: all 0.1s ease-in;
	background-color: #fff3;
  /*
  
  box-shadow: rgb(0 0 0 / 16%) 3px 3px 4px;
  box-shadow: 0 0 0.5rem #fff3;*/
}

.tap-to-continue:hover {
	/*transform: scale(1.1);*/
  background-color: #f70095;
  border-color: #f7009533;
  color: whitesmoke;
}

.tap-to-continue > .fa:before {
	font-size: 1.25rem;
}

/* special icons */

[class^="ico-"], [class*=" ico-"] {
  font: normal 1.5em/1 Arial, sans-serif;
  display: inline-block;
}

.ico-times::before { content: "\2715"; }
.ico-check::before { content: "\2714"; }

.icon-huge {
	display: flex;
	justify-content: center;
	align-items: center;	
	min-height: 6rem;
}

.button-group-fixed-bottom {
	position: fixed;
	z-index: 100;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem;
	padding-top: 1rem;
	background-color: #f8f8f8;
  /*background: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.7) 15%, hsla(0, 0%, 100%, 0.9) 30%, white);*/
  box-shadow: none;	
}
.icon-huge .fa {
	font-size: 5rem;
}

.badge {
	border-radius: 0.25rem;
	font-weight: 400;
}

.d-flex {
	display: flex;
}

.flex-nowrap {
	flex-wrap: nowrap!important;
}

.flex-row {
	flex-direction: row!important;
	/* padding: 1rem; */
	grid-gap: 1rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}

.card-variant {
	border-radius: 0!important;
  background-color: #f8f8f8!important;
}

.justify-space-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-around {
  justify-content: space-around!important;
}

.justify-content-between {
  justify-content: space-between!important;
}

.items-center {
	align-items: center;
}

.items-end {
  align-items: flex-end;
}

.btn {
	text-transform: uppercase;
	min-height: 50px;
	line-height: 2.75;
	font-size: 0.8rem;
	font-weight: 400;
	border-radius: 5px;
	transition: all 200ms ease-in-out;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	opacity: 0.25;
}

.btn:hover {
	opacity: 0.9;
}

a.btn {
	color: #333;
}

.is-transparent {
	background-color: transparent;
}

/*.btn:not(.bg-transparent):not(.btn-link):not(.btn-light):hover {
	color:white!important;
}*/

.font-system {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
}

.font-pre {
	font-family: monospace;
	font-size: 16px;
}

.text-chatelet {
	color: lightgrey; /* #666;*/
	/* color: #e10d74; */
}

.pre-system {
	white-space: break-spaces;
	line-height: 1.25;
}
.bg-info-i {
  background-color: #d9edf7!important;
}
.bg-success-i {
  background-color: #dff0d8!important;
}
.bg-danger-i {
  background-color: #f2dede!important;
}
.bg-warning-i {
  background-color: #e8ffa8!important;
}
.bg-theme {
  background-color: #FF71CD!important;
}

.border-theme {
	border: 2px solid #FF71CD;
	color: #FF71CD;
}

.bg-white {
	background: white!important;
}
.border-dark {
	border: 2px solid #333;
	color: #333;
}

.border-light {
	border: 2px solid #6666;
	color: #333;
}

.d-block {
  display: block!important;
}

.mw-26 {
	max-width: 26rem;
}

.instructions {
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;
	/* background-color: #fdb5db; */
	background-color: whitesmoke;
	color: #777; /* theme secondary #fdb5db; */
	/* border: 2px solid #fdb5db; */
	/* color: #f50081; */ /* theme secondary #fdb5db; */
	white-space: pre;
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.5;
}

/*.form-control {
	border-radius: 0.5rem!important;	
}*/

.form-control {
	padding: 0 16px;
	height: 50px;
	border-radius: 5px;
	font-size: 1rem;
}

textarea.form-control{
	padding: 1.25rem 1rem;
}

select.form-control{
	min-height: 2.75rem;
}

.form-control:focus {
	border-color: #888!important;
}

.d-inline {
	display: inline!important;
}

.mh-4 {
	max-height: 4rem;
}
.gap-05 {
	grid-gap: 0.5rem;
}
.gap-1 {
	grid-gap: 1rem;
}
.gap-6 {
	grid-gap: 6rem;
}
.carrito-selector {
  max-width: 9rem;
  margin: auto;
  padding: 0.5rem 0;
  border: 1px solid #dbdbdb;  
  background-color: white;
	border-radius: 5px;
}

.carrito-selector input {
	/*border-radius: 0!important;
	border-color: transparent;
	background-color: transparent;
	color: #e10d74;*/
	background-color: transparent;
	border: none;
	height: 36px;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	font-size: 0.75rem;
	font-weight: 600;
}

.product-count:focus {
	background-color: #ffcc66;
}

.input-group-addon.input-lg {
	/*background-color: white;
	border: 2px solid #e10d74;
  border-radius: 0.5rem;*/
  height: 36px;
  border: none;
  background: transparent;
  /*color: #e10d74!important;*/
}

.input-group-append {
  margin-left: -1px;
}

.input-group-append, .input-group-prepend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#main {
	/*padding-bottom: 8rem;
	background: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);*/
	padding-bottom: 6rem;
	position: relative;
  z-index: 3;	
}

.logo {
	width: 200px;
	margin-top: -8px;
}

.form-control-feedback {
	top: 5px !important;
	font-size: 0.75rem;
}

.has-success .form-control {
	border-color: #07BC31;
}

.has-success .form-control-feedback {
	color: #07BC31;
}

.dropdown-menu {
	font-size: 1rem;
	top: 4.5rem;
	padding: 1rem;
}

.dropdown-menu a {
	color: black;
}

.dropdown-menu a.pink {
	color: #e10c76;
	display: inline-block;
	padding: 0.5rem;
}

/* #bs-example-navbar-collapse-1 > .navbar-nav > li > a {
	line-height: 30px;	
}*/

.dropdown-menu ol {
	color: #b4b4b4;
	padding-left: 25px;
	padding-right: 25px;
}

.dropdown-menu p {
	padding: 15px 10px;
}

.dropdown-menu .bottom {
	border-top: 1px solid #e10c76;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	min-height: 3.25rem;
}

/* .dropdown-menu .bottom > .right {
	background-color: #e10c76;
	color: #FFFFFF;
	border-radius: 0.5rem;
	padding: 0.25rem 1rem;
	font-size: 1rem;
	font-weight: 800;
} */

/*#login-email,
#login-password {
	padding: 6px 12px;
	border-radius: 0.5rem;
	margin-bottom: 10px;
	min-height: 34px;
	background-color: #dbd9da;
	border: 0;
	width: 100%;
}*/

#login {
	display: inline-block;
	background-color: #363633;
	color: white;
	width: 100%;
	text-transform: uppercase;
	border-radius: 5px;
	text-align: center;
	font-size: 0.85rem;
	font-weight: 800;
	min-height: 50px;
	border: 0;
}

/*#forgot-password {
	display: inline-block;
	color: #e10c76;
	text-align: center;
	font-size: 1rem;
	width: 100%;
	margin-top: 10px;
}

#login-panel {
	width: auto;
	min-width: 215px;
	padding-bottom: 15px;
}

.register-container {
	margin-top: 10px;
	border-top: 1px solid black;
}

#register {
	display: inline-block;
	margin-top: 5px;
	color: black;
	font-size: 1rem;
}*/

#items {
	height: 100px;
	min-width: 320px;
	padding-left: 0.85rem;
	overflow-y: auto;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

#items li {
	border-bottom: 1px dashed #dedede;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.ellipsis {
	text-overflow: ellipsis;
}

.nav-icon {
	font-size: 18px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 5px;
	background-color: #454344;
	color: white;
}

#footer .fa {
	margin: 0 5px;
}

.text-footer {
	font-size: 0.6rem;
	font-weight: 300;
	text-shadow: -1px -1px 1px #fff6, 1px 1px 1px #3333;
}

.text-link {
	color: purple;
  border-color: transparent;
  border-bottom: 1px solid transparent;
  border-width: 0%;
  transition: all 2s ease-in;
  transition-delay: 1s;
}

.text-link:hover {
  color: magenta;
  border-color: magenta;
  border-width: 100%;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.pencil {
	font-size: 17px;
}

#control-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 0 10px;
	min-height: 3rem;
}

.control-panel {
	padding: 0.25rem 0.75rem;
	min-width: 20rem;
}

#user-data {
	line-height: 1;
	margin-top: 10px;
	margin-bottom: 10px;
}

#user-data {
	padding: 0 10px;
}

#user-name {
	color: #e10c76;
	font-weight: bold;
}

#user-email {
	font-size: 10px;
}

#control-sections {
	margin: 10px 0;
	clear: both;
}

#profile-pic {
	height: 63px;
	width: 63px;
	background-position: center center;
	-moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
	float: left;
	background-size: contain;
	margin-right: 10px;
	margin-bottom: 5px;
}

#menuSearch .wrapper {
	max-width: 70rem;
}

.float-left {
	float: left;
}

/* mobile first */
.modal-dialog {
  margin:0!important;
}

.modal-title {
	font-size: 1.15rem;
}

/*.modal-content {
  min-height: 100vh;
  border: 2px solid rgba(0, 0, 0, .2);
}

.modal-header {
	min-height: 50px;
	color: #e10c76;
}

@media(min-width: 768px) {
	.modal-header {
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
	}
	.modal-content {
		border-radius: 0.25rem;
	}
	.modal-body {
  	border-bottom-left-radius: 0.25rem;
  	border-bottom-right-radius: 0.25rem;
  }
}
*/

.modal-header .close {
	color: #888;
	font-size: 1.5rem;
  margin-right: 0.25rem;
}

.float-top-right {
 	position: fixed!important;
 	z-index: 99;
 	top: 1.5rem!important;
 	right: 1.5rem!important; 
}

.float-top-left {
 	position: fixed!important;
 	z-index: 99;
	top: 0.5rem !important;
	left: 0.5rem !important;
}

.text-green {
	color: lightgreen; /*#14c408;*/
}

.text-shadow {
	text-shadow: 2px 2px 0 #6661;  
}

.box-shadow {
	box-shadow: 2px 2px 0 #6661;  
}

.grey {
	color: lightgrey;
}

.yellow {
	color: yellow;
}

.datepicker.dropdown-menu {
	z-index: 9999;
}

.modal-backdrop {
	background-color: #333;
}

.modal-backdrop.in {
	opacity: 0.9;
}

/* #enviar-registro {
	width: 100%;
	background-color: black;
	color: white;
	min-height: 50px;
	text-align: center;
	border: 0;
	border-radius: 5px;
	font-weight: 700;
	padding: 0.75rem 1rem;
	margin-top: 10px;
}*/

.form-group {
	margin-bottom: 0;
}

#mayorista-modal {
	font-size: 13px;
	/*position: absolute;
	overflow: visible;*/
}
#particular-modal .modal-content, 
#mayorista-modal .modal-content,
#particular-login .modal-content,
#particular-password .modal-content{
	/*max-width: 25rem;
	position: absolute; */
}

#particular-modal .form-control,
#mayorista-modal .form-control,
#particular-modal .dropdown-toggle.selectpicker,
#mayorista-modal .dropdown-toggle.selectpicker {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 0;
	/*height: 25px;*/
	/*	width: 190px !important; */
}

#particular-modal .bootstrap-select,
#mayorista-modal .bootstrap-select {
	margin-bottom: 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.card-body {
  /*flex: 1 1 auto;*/
  padding: 1rem;
}

.card-title {
	display: flex;
	align-items: center;	
	font-size: 1.4rem;
	letter-spacing: -1px;
	line-height: 1.25;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #efefef;
}
.card-title i {
	color: lightgray;
	font-size: 2rem;
	min-width: 3rem;
}

.margin-auto {
	margin: auto;
}
.ordered-list {
	list-style: auto;
	margin-left: 1rem;
}
.ordered-list li{
	margin-bottom: 2rem;
  text-align: left;
}
.card-subtitle {
	color: #666;
  margin-bottom: 1rem;
	font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;  
}
.card-link {
	display: inline-block;
	text-decoration: underline;
	color: #e10d74;
	font-weight: 500;
	padding: 0.75rem 1rem;
	border: none;
	line-height: 1.5;
	font-size: 0.75rem;
	margin-top: 0.5rem;
	white-space: nowrap;
	/*width: 100%;
	border-radius: 0.25rem;
	background-color: #e398c1;
	margin-right: 0.25rem;
	margin-top: 0.5rem;
	margin-bottom: 0;*/
	transition: all 0.25s ease;
}
.card-link:hover {
	background-color: #e10d74;
	color: white;
}
@media(max-width: 550px) {
	.card-link i {
		display: none;
	}
}
.card-text {
	min-height: 2rem;
	line-height: 1.25;
}

.corner-pin {
	border: none;
	background-color: transparent;
	position: absolute;
	color: #aaa;
	right: 1.25rem;
  top: 1.25rem;
}

.overflow-x-auto {
	overflow-x: auto;
}
.btn-chatelet {
	color: black;
	border-color: #999;
	background-color: white;
}

.btn-chatelet.dark {
	color: white;
  background-color: black;
  border-color: black;
}

.btn-chatelet.dark:hover {
  background-color: #333;
}

.btn-chatelet.shrink {
	min-width: inherit;
}

.btn-chatelet.ready {
	background-color: #e60088;
}

.btn-chatelet.disabled {
	background-color: #bebebe;
}

.btn-chatelet:hover {
	background-color: #f8f8f8;
}

.center-text {
	text-align: center;
}

.text-bold {
	font-weight: 800!important;
}

.text-bolder {
	font-weight: 1000!important;
}

.registro-heading {
	color: #e10c76;
	font-style: italic;
	/*font-family: 'BauerBodni Blk BT Black', 'Times New Roman', 'Verdana';*/
}

.btn-input-lg {
	min-height: 50px;
}

.btn-pink {
	background-color: #e10c76!important;
	color: white!important;
}

.button-pink {
	background-color: #e10c76;
	color: white;
	padding-bottom: 20px;
	white-space: nowrap;
	border-radius: 16px;
}

.labels p {
	padding-top: 6px;
	height: 30px;
}

#product-count {
	color: #F7F7F7;
}

.inline-block {
	display: inline-block;
}
.left.carousel-control{
	opacity: 0;
}
a.pay{
	color:#FFFFFF !important;
}

#dues_message {
	z-index: -1;
	opacity: 0;
	display: none;
	background-color: whitesmoke;
	color: #333;
	font-size: 1.5rem;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#dues_message.show {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
	display: flex!important;
	z-index: 10000!important;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.mp-link {
	background-color: #e398c1;
}

/*Rodolfo*/

a.table:hover {
	color: #f50081;
}

span.user {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: #e398c1;
}

.navbar-nav>li>a.user { 
	display: inherit !important;
	margin: 0;
}

.navbar-nav>li>a.shop { 
	display: inherit !important;
	margin: 0;
}

.marginTop {
	margin-top: 1.25rem;
}

span.validation-email {
	display: block;
  color: #a94442;
}
span.validation-password {
	display: block;
    color: #a94442;
}

.whatsapp-block {
	position: fixed;
	opacity: 0;
	z-index: 1060;
	bottom: 1rem;
	right: 0.85rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-gap: 0.5rem;	
}

.whatsapp-block > a > .fa {
	display: flex;
	justify-content: center;
	align-items: center;	
	font-size: 1.75rem;
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
	background-color: #5cb85c;
	/*box-shadow: rgba(0, 0, 0, 0.16) 3px 3px 3px;*/
	color: white;
}

.whatsapp-block > a.whatsapp > .fa {
	animation-name: whatsappSplash;
	animation-fill-mode: both;
	animation-duration: 1s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes whatsappSplash {
  0% {
    outline: 7px solid lightgreen;
  }
  100% {
    outline: 7px solid transparent;
  }
}

.whatsapp-block > a.chat > .fa {
	background-color: #363633;
}

.whatsapp-text {
	position: fixed;
	left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: #5cb85c; */
	background-color: lightgreen;
	box-shadow: rgba(0, 0, 0, 0.16) -3px 3px 3px;
	color: darkolivegreen;
	z-index: 90;
	line-height: 1;
	width: 100%;
	min-height: 3rem;
}

.navbar-container {
	min-height: 102px;
}

@media screen and (min-width: 992px) {	
  .box {
  	padding: 4rem!important;
    /*transform: scale(1) perspective(1024px) rotateY(-10deg) rotateX(3deg) rotate(3deg) translateY(0rem) translateX(-2rem);*/
    box-shadow: 0 0 20px 0 rgba(26, 26, 67, .25);
  }
}
.p-md-5 {
	padding: 0;
}
@media screen and (min-width: 769px) {


  .bg-light-desktop {
    background-color: whitesmoke;
  }
	.p-md-5 {
		padding: 1.5rem!important;
	}
	.max-25 {
	  max-width: 25rem;
	}

	.min-25 {
	  min-width: 25rem;
	}

	.max-22 {
	  max-width: 22rem;
	}

	/*.navbar-chatelet.top-fixed {
		background: linear-gradient(white,hsla(0,0%,100%,0.9) 50%, hsla(0,0%,100%,0.7) 70%, hsla(0,0%,100%,0));
		box-shadow: none;
	}*/
	.modal-dialog {
		margin: auto!important;
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.modal-content {
	  min-height: auto;
	  min-width: 600px;
	}
	.modal-body {
		padding: 1.75rem;
	}
	.cloudzoom img {
	  height: 40rem;
	}
}

@media screen and (min-width: 360px) {
	#opts .mod-item { min-height: 220px;} 
}

/*@media screen and (max-width: 512px) {
	.whatsapp-block {
		bottom: 0;
	}
}*/

@media screen and (max-width: 768px) {
	.navbar-container {
		min-height: 132px;
	}
	.modal-dialog {
		width: calc(100dvw - 14px);
	}
	.modal-buttons {
		flex-direction: column;
		gap: 1rem;
	}
	.modal-buttons > a {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 50px;
	}
	/*.whatsapp-block .whatsapp-text {
		display: none;
	}*/
	.marginTop {
  	margin-top: 1rem;
	}
	#detalle .caract .marginTop a.table {
    background: url(../images/sizes.png) no-repeat right center;
    color: #f50081;
    font-size: 16px;
    font-weight: 600;
    padding-right: 35px;
    padding-top: 5px;
    background-size: 1.75rem;
	}
	.carrito-selector {
		margin-top: 1rem;
	}
	.col-mm-6 {
    width: 50%;
	}
}

@media screen and (max-height: 360px) {
	.whatsapp-block {
		display: none;
	}
}
