/* Base color: #e10c76 */

/*@font-face {
	font-family: 'BauerBodni Blk BT Black';
	src: url('../fonts/BauerBodni Blk BT Black.ttf');
}*/

body {
	background-color: #f8f8f8;
}

a {
	color: white;
}

a:hover {
	color: white;
}

html, body {
	min-height: 100%;
}

select {
	padding-left: 6px!important;
}

.modal {
	overflow-y: auto;
}
.is-hidden {
	display: none!important;
}

.js-show-modal {
	position: relative;
}

.tap-to-continue {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	padding: 0.75rem 1.25rem;
	border: 1px solid white;
	color: white;
	box-shadow: 0 0 2px #0006;
	text-shadow: 0 0 2px #0006;
}
.tap-to-continue .fa {
	margin-left: 0.5rem;
}
.icon-huge {
	display: flex;
	justify-content: center;
	align-items: center;	
	min-height: 15rem;
}

.icon-huge .fa {
	font-size: 3rem;
}

.d-flex {
	display: flex;
}

.items-center {
	align-items: center;
}

.btn {
	min-height: 2.75rem;
}

.btn:not(.btn-link):hover {
	color:white!important;
}

.font-system {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
}

.pre-system {
	white-space: break-spaces;
	line-height: 1.25;
}
.bg-info-i {
  background-color: #d9edf7!important;
}
.bg-success-i {
  background-color: #dff0d8!important;
}
.bg-danger-i {
  background-color: #f2dede!important;
}
.bg-warning-i {
  background-color: #e8ffa8!important;
}
.mw-26 {
	max-width: 26rem;
}

.instructions {
	padding: 0.75rem 1rem;
	border-radius: 0px;
	/* background-color: #fdb5db; */
	background-color: whitesmoke;
	color: #777; /* theme secondary #fdb5db; */
	/* border: 2px solid #fdb5db; */
	/* color: #f50081; */ /* theme secondary #fdb5db; */
	white-space: pre;
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.5;
}
.d-inline {
	display: inline!important;
}

.gap-1 {
	grid-gap: 1rem;
}

.carrito-selector {
  max-width: 9rem;
  margin: auto;
}

.input-group-append {
  margin-left: -1px;
}

.input-group-append, .input-group-prepend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#main {
	padding-bottom: 2rem;
}

.logo {
	width: 200px;
	margin-top: -8px;
}

.navbar-chatelet {
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 40px;
    -webkit-box-shadow: 0 1px 30px -12px black;
       -moz-box-shadow: 0 1px 30px -12px black;
            box-shadow: 0 1px 30px -12px black;
}

.navbar-chatelet .navbar-toggle {
	border-color: #ddd;
}

.navbar-chatelet .navbar-toggle .icon-bar {
	background-color: #888;
}

.navbar-chatelet .navbar-nav {
	margin-left: 10px;
}

.navbar-chatelet .navbar-nav>li>a {
	color: black;
	text-transform: uppercase;
	border-top: 3px solid transparent;
	transition: border-top 600ms ease;
	background-color: transparent;
	padding-top: 12px;
}

.navbar-chatelet .navbar-nav>li>a:hover,
.navbar-chatelet .navbar-nav>li>a:focus  {
	background-color: transparent;
	border-top: 3px solid #e10c76;
}

.navbar-chatelet .caret {
	color: #e10c76;
}

.navbar-chatelet .facebook{
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 10px;
}

.navbar-chatelet .busqueda {
	padding-right: 10px;
}

.navbar-chatelet .title {
	padding: 5px;
	color: #e10c76;
	border-bottom: 1px solid #e10c76;
}

.dropdown-menu {
	font-size: 1rem;
	top: 5.5rem;
	padding: 1rem;
}

.dropdown-menu a {
	color: black;
}

.dropdown-menu a.pink {
	color: #e10c76;
	display: inline-block;
	padding: 0.5rem;
}

#bs-example-navbar-collapse-1 > .navbar-nav > li > a {
	line-height: 30px;	
}

.dropdown-menu ol {
	color: #b4b4b4;
	padding-left: 25px;
	padding-right: 25px;
}

.dropdown-menu p {
	padding: 15px 10px;
}

.dropdown-menu .bottom {
	border-top: 1px solid #e10c76;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	min-height: 3.25rem;
}

/* .dropdown-menu .bottom > .right {
	background-color: #e10c76;
	color: #FFFFFF;
	border-radius: 0px;
	padding: 0.25rem 1rem;
	font-size: 1rem;
	font-weight: 800;
} */

#login-email,
#login-password {
	padding: 6px 12px;
	border-radius: 0px;
	margin-bottom: 10px;
	min-height: 34px;
	background-color: #dbd9da;
	border: 0;
	width: 100%;
}

#login {
	display: inline-block;
	padding: 0.75rem 1rem;
	background-color: #e10c76;
	color: white;
	/*font-style: italic;*/
	/*font-family: 'BauerBodni Blk BT Black', 'Times New Roman', 'Verdana';*/
	width: 100%;
	text-align: center;
	border-radius: 0px;
	font-size: 1.25rem;
	font-weight: 800;
	border: 0;
}

#forgot-password {
	display: inline-block;
	color: #e10c76;
	text-align: center;
	font-size: 1rem;
	width: 100%;
	margin-top: 10px;
}

#login-panel {
	width: auto;
	min-width: 215px;
	padding-bottom: 15px;
}

.register-container {
	margin-top: 10px;
	border-top: 1px solid black;
}

#register {
	display: inline-block;
	margin-top: 5px;
	color: black;
	font-size: 1rem;
}

#items {
	height: 100px;
	min-width: 320px;
	padding-left: 0.85rem;
	overflow-y: auto;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

#items li {
	border-bottom: 1px dashed #dedede;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.ellipsis {
	text-overflow: ellipsis;
}

.nav-icon {
	font-size: 18px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 5px;
	background-color: #454344;
	color: white;
}

#footer .fa {
	margin: 0 5px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.pencil {
	font-size: 17px;
}

#control-footer {
	padding: 0 10px;
}

.control-panel {
	padding: 0.25rem 0.75rem;
	min-width: 20rem;
}

#user-data {
	line-height: 1;
	margin-top: 10px;
	margin-bottom: 10px;
}

#user-data {
	padding: 0 15px;
}

#user-name {
	color: #e10c76;
	font-weight: bold;
}

#user-email {
	font-size: 10px;
}

#control-sections {
	margin: 10px 0;
	clear: both;
}

#profile-pic {
	height: 63px;
	width: 63px;
	background-position: center center;
	-moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
	float: left;
	background-size: contain;
	margin-right: 10px;
	margin-bottom: 5px;
}

.float-left {
	float: left;
}

/* mobile first */
.modal-dialog {
  margin:0!important;
}
.modal-content {
  min-height: 100vh;
}

.modal-title {
	color: #e10c76;
	font-size: 1rem;
	/*font-style: italic;
	font-family: 'BauerBodni Blk BT Black', 'Times New Roman', 'Verdana';*/
}


.modal-header {
	min-height: 50px;
}

.float-top-right {
 	position: fixed!important;
 	z-index: 99;
 	top: 1.5rem!important;
 	right: 1.5rem!important; 
}

.float-top-left {
 	position: fixed!important;
 	z-index: 99;
 	top: 1.5rem!important;
 	left: 1.5rem!important; 
}
 
.grey {
	color: lightgrey;
}

.modal-body label {
	color: #383A3F;
	margin-top: 10px;
}

.modal-body input {
	border: 1px solid #bebebe;
	border-radius: 0px;
}

.datepicker.dropdown-menu {
	z-index: 9999;
}

#enviar-registro {
	width: 100%;
	background-color: #e10c76;
	color: white;
	/*font-size: 24px;*/
	text-align: center;
	border: 0;
	font-size: 1.25rem;
	font-weight: 800;
	padding: 0.75rem 1rem;
	margin-top: 10px;
	/*font-style: italic;*/
	/*font-family: 'BauerBodni Blk BT Black', 'Times New Roman', 'Verdana';*/
}

.form-group {
	margin-bottom: 0;
}

#mayorista-modal {
	font-size: 13px;
	/*position: absolute;
	overflow: visible;*/
}
#particular-modal .modal-content, 
#mayorista-modal .modal-content,
#particular-login .modal-content,
#particular-password .modal-content{
	max-width: 25rem;
	margin: auto;
	/*position: absolute; */
}

#particular-modal .form-control,
#mayorista-modal .form-control,
#particular-modal .dropdown-toggle.selectpicker,
#mayorista-modal .dropdown-toggle.selectpicker {
	display: inline-block;
	/*height: 25px;*/
//*	width: 190px !important; */
	padding: 4px;
}

#particular-modal .bootstrap-select,
#mayorista-modal .bootstrap-select {
	margin-bottom: 0;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0px;
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-title {
	display: flex;
	align-items: center;	
	font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.card-title i {
	color: lightgray;
	font-size: 2rem;
	margin-right: 0.5rem;
}

.card-subtitle {
	color: #666;
  margin-bottom: 1rem;
  font-weight: 500;
}
.card-link {
	display: inline-block;
	color: white;
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
	background-color: #e398c1;
	margin-right: 0.25rem;
	margin-top: 1.25rem;
	margin-bottom: 0;
	transition: all 0.25s ease;
}
.card-link:hover {
	background-color: #e60088;
	color: white;
}
.card-text {
	min-height: 2rem;
	line-height: 1.25;
}
.cart-btn-green {
	display: inline-block;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 800;
	color: white;
	border: none;
	background-color: #bebebe;
	padding: 0.75rem 1rem;
	min-width: 20rem;
	min-height: 54px;
	border-radius: 0.75rem;
	transition: all 0.25s ease;
}
.cart-btn-green.shrink {
	min-width: inherit;
}

.cart-btn-green.ready {
	background-color: #e60088;
}

.cart-btn-green.disabled {
	background-color: #bebebe;
}

.cart-btn-green:hover {
	background-color: #e60088;
}

.center-text {
	text-align: center;
}

.registro-heading {
	color: #e10c76;
	font-style: italic;
	/*font-family: 'BauerBodni Blk BT Black', 'Times New Roman', 'Verdana';*/
}

.btn-input-lg {
	min-height: 46px;
}

.button-pink {
	background-color: #e10c76;
	color: white;
	padding-bottom: 20px;
	white-space: nowrap;
	border-radius: 16px;
}

.labels p {
	padding-top: 6px;
	height: 30px;
}

#product-count {
	color: #F7F7F7;
}

.inline-block {
	display: inline-block;
}
.left.carousel-control{
	opacity: 0;
}
a.pay{
	color:#FFFFFF !important;
}

/*Rodolfo*/

a.table:hover {
	color: #f50081;
}

span.user {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: #e398c1;
}
.navbar-nav>li>a.user { 
	display: inherit !important;
	margin: 0;
}

.navbar-nav>li>a.shop { 
	display: inherit !important;
	margin: 0;
}

.marginTop {
	margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
  .box {
    transform: scale(1) perspective(900px) rotateY(-10deg) rotateX(3deg) rotate(3deg) translateY(0rem) translateX(-2rem);
    box-shadow: 1px 1px 5px 0 rgba(26, 26, 67, .05), 39px 62.5px 125px -25px rgba(50, 50, 93, .2), 23.4px 37.5px 75px -37.5px rgba(0, 0, 0, .4);
  }
}

@media screen and (min-width: 769px) {
	.modal-dialog {
		margin: auto!important;
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.modal-content {
	  min-height: auto;
	}
	.modal-body {
		padding: 1.75rem;
	}
	.cloudzoom img {
	    height: 40rem;
	}
}

@media screen and (max-width: 768px) {
	.marginTop {
  	margin-top: 1rem;
	}
	#detalle .caract .marginTop a.table {
    background: url(../images/sizes.png) no-repeat right center;
    color: #f50081;
    font-size: 16px;
    font-weight: 600;
    padding-right: 35px;
    padding-top: 5px;
    background-size: 1.75rem;
	}
	.carrito-selector {
		margin-top: 1rem;
	}
}
span.validation-email {
	display: block;
    color: #a94442;
}
span.validation-password {
	display: block;
    color: #a94442;
}