.shipping-options .shipping-logo {
	position: absolute;
	left: 0;
	right: 0;	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	text-align: right;
	padding-right: 4rem;
	min-height: 49px;
	display: flex;
	flex-direction: column;
	justify-content: center;	
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 100%;
}

.shipping-options li {
	padding: 0!important;
}
.nav-dark {
	border: none;
	display: flex;
  justify-content: center;
  align-items: center;	
}

.nav-dark li {
	background-color: #e7e7e7;
	flex: 1;
}

.nav-dark li a {
	/*max-width: 10rem;*/
	color: #999;
	border: none!important;
	padding: 1rem;
	border-radius: 0!important;
	margin: auto;
}

.nav-dark li a span {
	margin: auto;
	max-width: 10rem;
	display: block;
	font-size: 110%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 1;	
}

.nav-dark li.active {
	background-color: #333;
}
.nav-dark li.active a {
	background-color: #333!important;
	color: white!important;
}

.has-checkout-steps {
	padding-top: 7rem!important;
}

.center {
	text-align: center;
}

a.volver {
	color: #6a6869;
	text-align: center;
	font-size: 1rem;
	/*font-style: italic;
	font-family: 'BauerBodni Blk BT Black', 'Times New Roman', 'Verdana';*/
}

a.volver .fa {
	margin-right: 0.5rem;
}

.hide-element {
  width:0;
  height:0;
  overflow:hidden;
  opacity: 0;
  position: absolute;
}

.card-row .fa {
	min-width: 1rem;
	text-align: center;
}

.calc-coupon {
	margin-top: 1.75rem;
	min-height: 4.25rem;
}

.calc_total {
	font-weight: 800;
}

input[disabled] {
	filter: grayscale(1);
}

.siguiente {
	display: inline-block;
	margin: 10px 0;
	width: 100%;
	font-size: 1.25rem;
	font-weight: 800;
	background-color: #e10c76;
	padding: 0.75rem 1rem;
	color: white;
	border-radius: 0px;
	text-align: center;
	/*font-family: 'BauerBodni Blk BT Black', 'Times New Roman', 'Verdana';*/
	border: 0;
}

.siguiente:hover {
	color: white;
}