.center {
	text-align: center;
}

a.volver {
	color: #6a6869;
	text-align: center;
	font-size: 1rem;
	/*font-style: italic;
	font-family: 'BauerBodni Blk BT Black', 'Times New Roman', 'Verdana';*/
}

a.volver .fa {
	margin-right: 0.5rem;
}

.payment-dues {
	opacity: 0;
}

.hide-element {
  width:0;
  height:0;
  overflow:hidden;
  opacity: 0;
  position: absolute;
}

.card-row .fa {
	min-width: 1rem;
	text-align: center;
}

.calc-coupon {
	margin-top: 1.75rem;
	min-height: 4.25rem;
}

.calc_total {
	font-weight: 800;
}

input[disabled] {
	filter: grayscale(1);
}

.siguiente {
	display: inline-block;
	margin: 10px 0;
	width: 100%;
	font-size: 1.25rem;
	font-weight: 800;
	background-color: #e10c76;
	padding: 0.75rem 1rem;
	color: white;
	border-radius: 0px;
	text-align: center;
	/*font-family: 'BauerBodni Blk BT Black', 'Times New Roman', 'Verdana';*/
	border: 0;
}

.siguiente:hover {
	color: white;
}