.center {
	text-align: center;
}

a.volver {
	color: #6a6869;
	text-align: center;
	font-size: 1rem;
	/*font-style: italic;
	font-family: 'BauerBodni Blk BT Black', 'Times New Roman', 'Verdana';*/
}

a.volver .fa {
	margin-right: 0.5rem;
}

.text-small {
	font-size: 0.9rem!important;
}

.payment-method {
	display: inline-flex;
	grid-gap: 0.5rem;	
	margin-top: 2rem;
}

.option-rounded {
	padding: 1rem 0.5rem;
	border-radius: 5px;
	border: 1px solid #d9d9d9;
}

.text-justify {
	text-align: justify;
}
.form-container {
	margin-top: 18px;
	padding: 1.5rem;
}


input[disabled] {
	filter: grayscale(1);
}

.siguiente {
	display: inline-block;
	margin: 10px 0;
	width: 100%;
	font-size: 1.25rem;
	font-weight: 800;
	background-color: #07bc31;
	padding: 0.75rem 1rem;
	color: white;
	border-radius: 5px;
	text-align: center;
	/*font-family: 'BauerBodni Blk BT Black', 'Times New Roman', 'Verdana';*/
	border: 0;
}

.siguiente:hover {
	color: white;
}