
.draggable-table {
  position: relative;
  user-select: none;
}
.draggable-table .draggable-table__drag {
  position: absolute;
  z-index: 10;
  cursor: grabbing;
  opacity: 1;
}
.draggable-table thead th {
  height: 25px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px;
  user-select: none;
}
.draggable-table tbody tr {
  cursor: grabbing;
}
.draggable-table tbody tr.is-dragging {
  background: #f1c40f;
}
.draggable-table tbody tr.is-dragging td {
  color: #ffe683;
}

.draggable-saved {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1079;
    opacity: 0;
    font-size: 2rem;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 100%;
    background-color: #5cb85c;
    transform: translate3d(15rem, 0, 0);
    text-align: center;
    color: white;
    right: 1rem;
    bottom: 1rem;
}
