.logistic-price-form {
	overflow-y: scroll;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  padding: 1rem 2rem;
  
}
#add_logistic_price {
	padding-bottom: 4rem;
}
