.logistic-price-form {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  padding: 1rem 2rem;
}
@media screen and (min-width:991px) {
  .logistic-price-form {
    left: 20rem;
  }
}