
.input-cp-container.wrong input{
	border-color: #E10D74;
  color: #E10D74;
}

.input-cp-container.ok input {
	border-color: #07BC31;
  color: #07BC31;
}

.input-cp-container.ok:before {
	content: "\f00c";
	color: #07BC31;
	position: absolute;
  top: 13px;
  right: 1rem;
  font-size: 1rem;
  font-family: 'FontAwesome';
  z-index: 10;
}

.input-group-btn .btn {
	min-width: 5rem;
}

.cargo-title {
	color: #666;
	margin:0.5rem 0;
  margin-top: 1rem;
	font-weight: 600;
	line-height: 1;
	font-size: 1.25rem;
}
