
.both{
	border: 1px solid #e10d7499;
	padding-left: 5px;
}
.wrong{
	border-color: #E10D74;
  color: #E10D74;
}
.ok {
	border-color: #07BC31;
  color: #4f804f;
	background-image: url(../images/check.png);
	background-position: right 0.5rem center;
	background-repeat: no-repeat;
	background-size: 30px;  
}

.input-group-btn .btn {
	min-width: 6rem;
}
.input-rounded{
	min-height: 2.75rem;
	font-size: 1rem;	
	border-radius: 0.25rem;
	padding: 0.5rem 0.75rem;
	max-width: 14rem;
	font-weight: 800;
}

.cargo-title {
	margin:0.75rem 0;
	font-weight: 800;
	line-height: 1.25;
	font-size: 1.25rem;
}

