

.wrong{
	border-color: #E10D74;
  color: #E10D74;
}
.ok {
	border-color: #07BC31;
  color: #07BC31;
	background-image: url(../images/check.png);
	background-position: right 0.5rem center;
	background-repeat: no-repeat;
	background-size: 30px;  
}

.input-group-btn .btn {
	min-width: 5rem;
}

.cargo-title {
	color: #666;
	margin:0.5rem 0;
  margin-top: 1rem;
	font-weight: 600;
	line-height: 1;
	font-size: 1.25rem;
}
