
.both{
	border: 1px solid #39B3D7;
	padding-left: 5px;
}
.wrong{
	border-color: #E10D74;
  color: #E10D74;
}
.ok{
	border-color: #07BC31;
  color: #4f804f;
}
.input-rounded{
	border-radius: 0.25rem;
	padding: 0.5rem;
	max-width: 10rem;
}

.cargo-title {
	margin:10px 0px;
	font-weight: 800;
}

