
.input-cp-container.wrong input{
	border-color: #E10D74;
  color: #E10D74;
}

.input-cp-container.ok input {
	border-color: #07BC31;
  color: #07BC31;
}

.input-cp-container.ok:before {
	content: "\f00c";
	color: #07BC31;
	position: absolute;
  top: 13px;
  right: 1rem;
  font-size: 0.8rem;
  font-family: 'FontAwesome';
  z-index: 10;
}