.video-container {
  width: 100%; /* Or a specific width like 600px */
  overflow: hidden; /* Hides any part of the video that overflows */
  position: relative; /* Needed for positioning child elements if any */
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Scales the video to cover the entire container, potentially cropping the edges */

  /* OR */
  /* object-fit: contain; /* Scales the video down to fit inside the container without cropping */
}

.category-item-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.text-catalog {
  text-shadow: 0 0 2px #111,0 0 10px #666;
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: -0.03rem;
  color: white;
  line-height: 1;
} 
.border-success {
  border: 4px solid lightgreen!important;
}
.border-danger {
  z-index: 2!important;
  border: 4px solid red!important;
}
.category-item {
  display: block;
  position: relative;
}
.category-image {
  display: flex;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in;
  transition: all .3s ease-in-out;
}
.category-toolbox {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0.5rem;
  display: flex;
  transition: opacity 0.25s ease-in;
}

.category-toolbox i {
  color: lightgreen;
}

.category-content {
  height: 240px;
  width: 320px;
  opacity: 0.9;
  position: relative;
  z-index: 1;
  display: block;
  border: 4px solid lightgreen;
}

.category-item.device-mobile .category-content {
  height: 240px;
  width: 160px;
}

.category-content.border-danger .category-toolbox i {
  color: red;
}
.category-content:hover,
.category-content:hover .category-form {
  opacity: 1;
}
.category-form {
  height: 240px;
  position: absolute;
  z-index: 2;
  padding: 1rem;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(250,250,250,0.9);
}
.category-form .form-group {
  margin-bottom: 0.25rem;
}
.category-form i {
  min-width: 2.75rem;
  text-align: center;
}
.category-form-content {
  position: absolute;
  padding: 0.75rem;
  left: 0;
  bottom: 0;

}
.posnum-0 {
  background-position: center center;
}
.posnum-1 {
  background-position: left center;
}
.posnum-2 {
  background-position: right center;
}
.posnum-3 {
  background-position: center top;
}
.posnum-4 {
  background-position: center bottom;
}
.posnum-5 {
  background-position: left top;
}
.posnum-6 {
  background-position: right top;
}
.posnum-7 {
  background-position: left bottom;
}
.posnum-8 {
  background-position: right bottom;
}
.ci-0 {
  justify-content: center;
  align-items: center;
}
.ci-0 span {
  text-align: center;
}
.ci-1 {
  justify-content: start;
  align-items: center;
}
.ci-1 span {
  text-align: left;
} 
.ci-2 {
  justify-content: end;
  align-items: center;
}
.ci-2 span {
  text-align: right;
} 
.ci-3 {
  justify-content: center;
  align-items: start;
}
.ci-3 span {
  text-align: center;
} 
.ci-4 {
  justify-content: center;
  align-items: end;
}
.ci-4 span {
  text-align: center;
} 
.ci-5 {
  justify-content: start;
  align-items: start;
}
.ci-5 span {
  text-align: left;
} 
.ci-6 {
  justify-content: end;
  align-items: start;
}
.ci-6 span {
  text-align: right;
} 
.ci-7 {
  justify-content: start;
  align-items: end;
}
.ci-7 span {
  text-align: left;
}
.ci-8 {
  justify-content: end;
  align-items: end;
}
.ci-8 span {
  text-align: right;
} 


